.main {
    background-image: url(images/code.jpg_large);
    height: 500px;
}
.btn {
    display:flex;
    justify-content: flex-end;
}
.intro {
    color: white;
    font-size: 80px;
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.btn:nth-of-type(2){
    color:white;
}